/* 상단 네비바 프로필 크기관련 */
.topbar-profile-photo{
    width: 1.5em;
    height: 1.5em;
    position: relative;
}

/* 수정할 프로필 사진 크기 관련 */
.profile-profile-photo {
    width: 56px;
    height: 56px;
    position: relative;
}
.line_set{
    margin-right: 115px;
    display: flex;
    align-items:center;
    justify-content: end;
}

.line_Text{
   display:flex;
   justify-content:center;
   padding-left:283px;
}

.line_title{
    display:flex;
    justify-content:center;
    padding-right:48px;
}

.txtbox{
    margin-left: 25px;
    width:418.5px;

}

.txtsize{
    font-size: 13px;
    font-weight: bold;
    color: #808080;
    width: 390px;
}