<!DOCTYPE html>
<html layout:decorate="~{layout}" xmlns="http://www.w3.org/1999/html">
<div class="main_container footer" layout:fragment="content">

    <section class="main">

        <div class="main_container d-flex justify-content-center">
            <div class="col-9">
                <div class="wrapper">
                    <div class="left-col">
                        <div class="info">
                            <div class="user mt-5 mb-3">
                                <div class="d-flex flex-row align-items-center">
                                    <div class="d-flex align-items-center ms-2">
                                        <div class="rounded-circle overflow-hidden d-flex justify-content-center border border-danger post-profile-photo me-3">
                                            <!-- 게시물 프로필사진 -->
                                            <div th:if="${user.profileImagePath == null}">
                                                <img th:src="@{/img/basic-profile-image.png}"
                                                     style="transform: scale(1.5); width: 100%; position: absolute; left: 0"/>
                                            </div>
                                            <div th:unless="${user.profileImagePath == null}">
                                                <img th:src="'https://instakg-team.s3.ap-northeast-2.amazonaws.com/'+${user.profileImagePath}" alt="프로필 이미지" style="transform: scale(1.5); width: 100%; position: absolute; left: 0">
                                            </div>
                                        </div>
                                        <div class="d-flex justify-content-start">
                                            <span class="fw-bold" th:text="${user.username}">꼬솜우비</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <form th:action="@{|/co/modify/${answer.id}|}" method="post">
                            <p class="description">
                    <textarea name="content" class="form-control" rows="10"
                              th:text="${answer.content}"></textarea>
                            </p>
                            <p class="post-time">
                            <div class="d-flex justify-content-between">
                                <div th:text="${#temporals.format(answer.modifyDate, 'yyyy년 M월 d일 HH시 ')}"></div>
                                <div>
                                    <input type="submit" value="저장하기" class="btn text-info">
                                    <a th:href="@{|/question/list/detail/${id}|}" class="btn text-info">취소</a>
                                </div>
                            </div>
                            </p>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
</html>