<footer class="main_container" th:fragment="footerFragment">
    <strong class="d-flex justify-content-center mt-5 insta-sccript">
        팀명&nbsp<font class="text-secondary">OB&YB</font>&nbsp&nbsp팀프로젝트명&nbsp<font class="text-secondary">InstaKG</font>&nbsp&nbspGithub&nbsp<a class="text-decoration-none text-secondary"href="https://github.com/HeoEunJae/Team_YB-OB_InstaKG">InstaKG 프로젝트</a>&nbsp&nbsp프로젝트 기간&nbsp<font class="text-secondary">2022.08.01 ~ 2022.09.30</font>
    </strong>
    <strong class="d-flex justify-content-center mt-1">팀원명&nbsp<font class="text-secondary">허은재, 박선호, 윤이령, 이민영, 특별조원 박소망</font></strong>
    <strong class="d-flex justify-content-center mt-3">© 2022 INSTAKG FROM TEAM OB&YB
    </strong>
</footer>