<!DOCTYPE html>
<html layout:decorate="~{layout}" xmlns="http://www.w3.org/1999/html">
<div class="main_container footer" layout:fragment="content">

    <section class="main">
        <!-- 상단 친구목록? 내용물 관련 -->
        <div class="mt-4"> <!-- 네비바와 거리띄우기 -->
            <div class="main_container d-flex justify-content-center">
                <div class="col-9">
                    <div class="row">
                        <div class="col-8 p-0">
                            <!--게시물 관련 시작-->
                            <!-- 사용자 정보 시작-->
                            <div class="d-flex flex-column mb-4" th:each="question : ${question}">
                                <div class="card">
                                    <!-- 사용자 정보 끝-->
                                    <!--사진 시작-->
                                    <div class="card-body p-0">
                                        <div class="swiper mySwiper">
                                            <div class="swiper-wrapper">
                                                <div class="swiper-slide" th:each="image : ${question.fileList}">
                                                    <img th:if="${image.filename.contains('jpg')||image.filename.contains('png')}"
                                                         class="QuestionDetailSizeContain ratio ratio-1x1"
                                                         height="800"
                                                         th:src="'https://instakg-team.s3.ap-northeast-2.amazonaws.com/'+${image.filename}" alt="img">
                                                    <video th:unless="${image.filename.contains('jpg')||image.filename.contains('png')}"
                                                           class="QuestionDetailSizeContain ratio ratio-1x1" controls
                                                           th:src="'https://instakg-team.s3.ap-northeast-2.amazonaws.com/'+${image.filename}"
                                                           height="800"></video>
                                                </div>
                                            </div>
                                            <div class="swiper-button-next"></div>
                                            <div class="swiper-button-prev"></div>
                                            <div class="swiper-pagination"></div>
                                        </div>

                                    </div>
                                    <!--사진 끝-->
                                </div>
                            </div>
                        </div>
                        <!-- 게시물 관련 끝-->


                        <div class="col-4 p-0 m-0 ">
                            <div class="card-header">
                                <div class="d-flex flex-row align-items-center">
                                    <div class="d-flex align-items-center ms-2">
                                        <div class="rounded-circle overflow-hidden d-flex justify-content-center border border-danger post-profile-photo me-3">
                                            <!-- 게시물 프로필사진 -->
                                            <div th:if="${user.profileImagePath == null}">
                                                <img th:src="@{/img/basic-profile-image.png}"
                                                     style="transform: scale(1.5); width: 100%; position: absolute; left: 0"/>
                                            </div>
                                            <div th:unless="${user.profileImagePath == null}">
                                                <img th:src="'https://instakg-team.s3.ap-northeast-2.amazonaws.com/'+${user.profileImagePath}" alt="프로필 이미지"
                                                     style="transform: scale(1.5); width: 100%; position: absolute; left: 0">
                                            </div>
                                        </div>
                                        <div class="d-flex justify-content-start">
                                            <span class="fw-bold" th:text="${user.username}">꼬솜우비</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <!--내용시작-->
                                <div class="card ">
                                    <div th:each="question : ${question}"
                                         class="card-body bg-white border-bottom">
                                        <div th:text="${question.content}"></div>
                                        <div th:text="${#temporals.format(question.createDate, 'M월 d일')}"></div>

                                    </div>
                                </div>
                                <!--내용 끝-->
                                <!-- 댓글 시작 -->
                                <div th:if="!${question.onOff}">
                                    <div class="card QuestionDetailCommentOverflow">
                                        <div class="card-body bg-white ">
                                            <div th:each="answer : ${question.answerList}"
                                                 class="my-2">
                                                <button type="button" class="btn form-inline pt-0 pb-10 "
                                                        id="myModal"
                                                        style="float:right;"
                                                        data-bs-toggle="modal"
                                                        data-bs-target="#exampleModal" th:data-id="${answer.id}"
                                                        th:data-content="${question.content}">
                                                    <img src="https://img.icons8.com/stickers/344/ellipsis.png"
                                                         width="20" height="20"
                                                         alt="">
                                                </button>
                                                <div th:text="${answer.content}"></div>
                                                <div class="d-flex justify-content-between align-items-center w-100 border-bottom">
                                                    <div class="pr-2"
                                                         th:text="${#temporals.format(answer.createDate, 'M/d')}"></div>
                                                    <div class="d-flex justify-content-between align-items-center">
                                                        <form class="d-flex"
                                                              th:action="@{|/answer/create/detail/${question.id}/${answer.id}|}"
                                                              method="post">
                                                            <input name="content" class="ms-1 w-75 border-0" th:id="'answerComment'+${answer.id}"
                                                                   type="text" th:oninput="'javascript:answerComment('+${answer.id}+')'"
                                                                   placeholder="답글달기">
                                                            <button type="submit" class="text-muted btn-st fw-bold post" th:id="'answerCommentBtn'+${answer.id}"
                                                                    disabled="true">확인
                                                            </button>
                                                        </form>
                                                    </div>
                                                    <!-- 좋아요 싫어요 -->
                                                    <div th:if="${answer.replyLike}">
                                                        <button type="button"
                                                                th:onclick="'javascript:answerLike('+${answer.id}+')'"
                                                                class="btn pr-5  pt-0 m-0">
                                                            <div th:id="'answerLike'+${answer.id}">
                                                                <svg type="submit"
                                                                     xmlns="http://www.w3.org/2000/svg"
                                                                     width="1em"
                                                                     height="1em" fill="currentColor"
                                                                     class="bi bi-star-fill "
                                                                     viewBox="0 0 16 16">
                                                                    <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                                                                </svg>
                                                            </div>
                                                        </button>
                                                    </div>
                                                    <div th:if="!${answer.replyLike}">
                                                        <button type="button"
                                                                th:onclick="'javascript:answerLike('+${answer.id}+')'"
                                                                class="btn pr-5 pt-0 m-0">
                                                            <div th:id="'answerLike'+${answer.id}">
                                                                <svg type="submit"
                                                                     xmlns="http://www.w3.org/2000/svg"
                                                                     width="1em"
                                                                     height="1em"
                                                                     fill="currentColor" class="bi bi-star"
                                                                     viewBox="0 0 16 16">
                                                                    <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
                                                                </svg>
                                                            </div>
                                                        </button>
                                                    </div>
                                                </div>
                                                <!-- 대댓글 시작 -->
                                                <div class="ms-4">
                                                    <!-- 댓글과 코멘트의 id가 같을때를 넣어주면 되는데...흠... -->
                                                    <div th:each="answerComments : ${answer.answerCommentsList}"
                                                         class="border-bottom my-2">
                                                        <button type="button" class="btn form-inline pt-0 pb-10 "
                                                                id="myModal2"
                                                                style="float:right;"
                                                                data-bs-toggle="modal"
                                                                data-bs-target="#answerCommentModal"
                                                                th:data-id="${answerComments.id}"
                                                                th:data-content="${question.content}">
                                                            <img src="https://img.icons8.com/stickers/344/ellipsis.png"
                                                                 width="20" height="20"
                                                                 alt="">
                                                        </button>
                                                        <!-- 대댓글 내용  -->
                                                        <div th:text="${answerComments.content}"></div>
                                                        <div>
                                                            <!--between시 오른쪽에 공백이 생기기 때문에 width 크기를 고정시켜 위치를 잡아줌-->
                                                            <div class="d-flex justify-content-between align-items-center"
                                                                 style="width: 270px;">
                                                                <div
                                                                        th:text="${#temporals.format(answerComments.createDate, 'M/d')}">
                                                                </div>
                                                                <!-- 좋아요 싫어요 -->
                                                                <div th:if="${answerComments.replyLike}">
                                                                    <button type="button"
                                                                            th:onclick="'javascript:answerCommentLike('+${answerComments.id}+')'"
                                                                            class="btn pr-5 pt-0 m-0">
                                                                        <div th:id="'answerCommentLike'+${answerComments.id}">
                                                                            <svg type="submit"
                                                                                 xmlns="http://www.w3.org/2000/svg"
                                                                                 width="1em"
                                                                                 height="1em" fill="currentColor"
                                                                                 class="bi bi-star-fill "
                                                                                 viewBox="0 0 16 16">
                                                                                <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                                                                            </svg>
                                                                        </div>
                                                                    </button>
                                                                </div>
                                                                <div th:if="!${answerComments.replyLike}">
                                                                    <button type="button"
                                                                            th:onclick="'javascript:answerCommentLike('+${answerComments.id}+')'"
                                                                            class="btn pr-5 pt-0 m-0">
                                                                        <div th:id="'answerCommentLike'+${answerComments.id}">
                                                                            <svg type="submit"
                                                                                 xmlns="http://www.w3.org/2000/svg"
                                                                                 width="1em"
                                                                                 height="1em"
                                                                                 fill="currentColor"
                                                                                 class="bi bi-star"
                                                                                 viewBox="0 0 16 16">
                                                                                <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
                                                                            </svg>
                                                                        </div>
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div th:if="${question.onOff}">
                                                    <div class="card QuestionDetailCommentOverflow">
                                                    </div>
                                                </div>
                                                <!-- 대댓글 끝-->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div th:if="${question.onOff}">
                                    <div class="card QuestionDetailCommentOverflow">
                                    </div>
                                </div>
                                <!-- 댓글 끝 -->
                                <div>
                                    <div class="card">
                                        <div class="d-flex justify-content-between ps-3 pe-3 pt-3 pb-1 bg-white">
                                            <ul class="list-inline">
                                                <li class="list-inline-item">
                                                    <!-- 좋아요 싫어요 -->
                                                    <div th:if="${question.replyLike}">
                                                        <button type="button"
                                                                th:onclick="'javascript:questionLike('+${question.id}+')'"
                                                                class="btn p-0">
                                                            <div th:id="'questionLike'+${question.id}">
                                                                <svg type="submit"
                                                                     xmlns="http://www.w3.org/2000/svg"
                                                                     width="1.5em"
                                                                     height="1.5em" fill="currentColor"
                                                                     class="bi bi-star-fill"
                                                                     viewBox="0 0 16 16">
                                                                    <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                                                                </svg>
                                                            </div>
                                                        </button>
                                                    </div>
                                                    <div th:if="!${question.replyLike}">
                                                        <button type="button"
                                                                th:onclick="'javascript:questionLike('+${question.id}+')'"
                                                                class="btn p-0">
                                                            <div th:id="'questionLike'+${question.id}">
                                                                <svg type="submit"
                                                                     xmlns="http://www.w3.org/2000/svg"
                                                                     width="1.5em"
                                                                     height="1.5em"
                                                                     fill="currentColor" class="bi bi-star"
                                                                     viewBox="0 0 16 16">
                                                                    <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
                                                                </svg>
                                                            </div>
                                                        </button>
                                                    </div>
                                                </li>
                                                <!-- 댓글로 이동 -->
                                                <li class="list-inline-item ms-2">
                                                    <a th:href="@{|/question/list/detail/${question.id}|}"
                                                       class="btn p-0">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="1.5em"
                                                             height="1.5em"
                                                             fill="currentColor" class="bi bi-chat"
                                                             viewBox="0 0 16 16">
                                                            <path d="M2.678 11.894a1 1 0 0 1 .287.801 10.97 10.97 0 0 1-.398 2c1.395-.323 2.247-.697 2.634-.893a1 1 0 0 1 .71-.074A8.06 8.06 0 0 0 8 14c3.996 0 7-2.807 7-6 0-3.192-3.004-6-7-6S1 4.808 1 8c0 1.468.617 2.83 1.678 3.894zm-.493 3.905a21.682 21.682 0 0 1-.713.129c-.2.032-.352-.176-.273-.362a9.68 9.68 0 0 0 .244-.637l.003-.01c.248-.72.45-1.548.524-2.319C.743 11.37 0 9.76 0 8c0-3.866 3.582-7 8-7s8 3.134 8 7-3.582 7-8 7a9.06 9.06 0 0 1-2.347-.306c-.52.263-1.639.742-3.468 1.105z"/>
                                                        </svg>
                                                    </a>
                                                </li>
                                                <!-- 다이렉트 메시지 -->
                                                <li class="list-inline-item ms-2">
                                                    <button class="btn p-0">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="1.5rem"
                                                             height="1.5em"
                                                             fill="currentColor"
                                                             class="bi bi-send" viewBox="0 0 16 16">
                                                            <path d="M15.854.146a.5.5 0 0 1 .11.54l-5.819 14.547a.75.75 0 0 1-1.329.124l-3.178-4.995L.643 7.184a.75.75 0 0 1 .124-1.33L15.314.037a.5.5 0 0 1 .54.11ZM6.636 10.07l2.761 4.338L14.13 2.576 6.636 10.07Zm6.787-8.201L1.591 6.602l4.339 2.76 7.494-7.493Z"/>
                                                        </svg>
                                                    </button>
                                                </li>
                                            </ul>
                                            <div>
                                                <button class="btn p-0">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="1.5em"
                                                         height="1.5em"
                                                         fill="currentColor" class="bi bi-bookmark"
                                                         viewBox="0 0 16 16">
                                                        <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z"/>
                                                    </svg>
                                                </button>
                                            </div>
                                        </div>
                                        <!--내용 끝-->
                                        <div class="bg-white ps-3 pb-2"
                                             th:text="${#temporals.format(question.createDate, 'M월 d일')}"></div>
                                        <div class="position-relative comment-box">
                                            <div th:if="!${question.onOff}">
                                                <form th:action="@{|/answer/create/${question.id}|}" method="post">
                                                    <input name="content" class="w-100 border-0 p-2 content" type="text" th:id="'answer'+${question.id}"
                                                           th:oninput="'javascript:comment('+${question.id}+')'"
                                                           placeholder="답글달기">
                                                    <button type="submit" class="btn position-absolute btn-st fw-bold post" th:id="'answerBtn'+${question.id}"
                                                            disabled="true">확인
                                                    </button>
                                                </form>
                                            </div>
                                            <div th:if="${question.onOff}">
                                                <form th:action="@{|/answer/create/${question.id}|}" method="post">
                                                    <input name="content" class="w-100 border-0 p-2" type="text"  placeholder="답글달기">
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content ">
                <div class="modal-body text-center">

                    <a class="Modal-Nomal" href="" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal"
                       data-bs-dismiss="modal">
                        <div>
                            삭제
                        </div>
                    </a>
                    <hr>


                    <a class="Modal-Nomal" href="javascript:move('/comment/modify/');">
                        <div>
                            수정
                        </div>
                    </a>

                    <hr>

                    <a class="Modal-Nomal" href="" data-bs-dismiss="modal">
                        <div>
                            취소
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- modal 2 -->
    <div class="modal fade" id="exampleModalToggle2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2"
         tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header text-center">
                    삭제하시겠습니까?
                </div>
                <div class="modal-body text-center">
                    <a class="Modal-Nomal" href="javascript:move('/comment/delete/');">
                        <div>
                            확인
                        </div>
                    </a>
                    <hr>
                    <a class="Modal-Nomal" href="" data-bs-dismiss="modal">
                        <div>
                            취소
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="answerCommentModal" tabindex="-1" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content ">
                <div class="modal-body text-center">

                    <a class="Modal-Nomal" href="" data-bs-target="#answerCommentModal2" data-bs-toggle="modal"
                       data-bs-dismiss="modal">
                        <div>
                            삭제
                        </div>
                    </a>
                    <hr>


                    <a class="Modal-Nomal" href="javascript:answerCommentMove('/co/modify/');">
                        <div>
                            수정
                        </div>
                    </a>

                    <hr>

                    <a class="Modal-Nomal" href="" data-bs-dismiss="modal">
                        <div>
                            취소
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- modal 2 -->
    <div class="modal fade" id="answerCommentModal2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2"
         tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header text-center">
                    삭제하시겠습니까?
                </div>
                <div class="modal-body text-center">
                    <a class="Modal-Nomal" href="javascript:answerCommentMove('/co/delete/');">
                        <div>
                            확인
                        </div>
                    </a>
                    <hr>
                    <a class="Modal-Nomal" href="" data-bs-dismiss="modal">
                        <div>
                            취소
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>


<script layout:fragment="script" type='text/javascript'>

//댓글
function comment(id){
    console.log(id);
    if($('#answer' + id).val().trim().length === 0){
        $('#answerBtn' + id).attr("disabled", true);
    }else{
        $('#answerBtn' + id).attr("disabled", false);
    }
}

//댓글
function answerComment(id){
    console.log(id);
    if($('#answerComment' + id).val().trim().length === 0){
        $('#answerCommentBtn' + id).attr("disabled", true);
    }else{
        $('#answerCommentBtn' + id).attr("disabled", false);
    }
}

    var swiper = new Swiper(".mySwiper", {
        spaceBetween: 30,
        centeredSlides: true,
        pagination: {
          el: ".swiper-pagination",
          clickable: true,
        },
        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev",
        },
      });




//modal에 정보전달
$('#exampleModal').on('show.bs.modal', function (e) {
    var answerId = $(e.relatedTarget).data('id');
    var answerContent = $(e.relatedTarget).data('content');
	sessionStorage.setItem("answer_id", answerId);
	sessionStorage.setItem("answer_content", answerContent);
});

function move(url){
    location.href = url+sessionStorage.getItem("answer_id");
    sessionStorage.removeItem("answer_id");
}

//modal2에 정보전달
$('#answerCommentModal').on('show.bs.modal', function (e) {
    var answerCommentId = $(e.relatedTarget).data('id');
	sessionStorage.setItem("answerComment_id", answerCommentId);
});

function answerCommentMove(url){
    location.href = url+sessionStorage.getItem("answerComment_id");
    sessionStorage.removeItem("answerComment_id");
}




//ajax 좋아요 싫어요(게시글, 댓글, 대댓글)
function questionLike(id){
    $.ajax({
        url : "/question/like/"+id,
        type : 'POST',
        data : {
            id : id,
        }
    })
    .done(function (fragment){
        if(fragment == 1){
            $('#questionLike'+id).html('<svg type="submit" xmlns="http://www.w3.org/2000/svg" width="1.5em" height="1.5em" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16"> <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/> </svg>');
        }else{
            $('#questionLike'+id).html('<svg type="submit" xmlns="http://www.w3.org/2000/svg" width="1.5em" height="1.5em" fill="currentColor" class="bi bi-star" viewBox="0 0 16 16"> <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/> </svg>');
        }
    });
}

function answerLike(id){
    $.ajax({
        url : "/answer/detail/like/"+id,
        type : 'POST',
        data : {
            id : id,
        }
    })
    .done(function (fragment){
        if(fragment == 1){
            $('#answerLike'+id).html('<svg type="submit" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16"> <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/> </svg>');
        }else{
            $('#answerLike'+id).html('<svg type="submit" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" class="bi bi-star" viewBox="0 0 16 16"> <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/> </svg>');
        }
    });
}


function answerCommentLike(id){
    $.ajax({
        url : "/answer/comment/detail/like/"+id,
        type : 'POST',
        data : {
            id : id,
        }
    })
    .done(function (fragment){
        if(fragment == 1){
            $('#answerCommentLike'+id).html('<svg type="submit" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16"> <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/> </svg>');
        }else{
            $('#answerCommentLike'+id).html('<svg type="submit" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" class="bi bi-star" viewBox="0 0 16 16"> <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/> </svg>');
        }
    });
}

</script>
<!-- 자바스크립트 -->
</html>