<!DOCTYPE html>
<html layout:decorate="~{layout}" xmlns="http://www.w3.org/1999/html">
<div class="main_container" layout:fragment="content">

    <div class="mt-4">
        <div class="main_container d-flex justify-content-center">
            <div class="col-12">
                <div class="row d-flex justify-content-center">
                    <div class="col-9">
                        <div class="row">
                            <div class="card">
                                <div class="d-flex justify-content-center mt-4">
                                    <div class="rounded-circle overflow-hidden d-flex justify-content-center profile-profile-photo">
                                        <!-- 프로필 사진 -->
                                        <div th:if="${user.profileImagePath == null}">
                                            <img id="test" th:src="@{/img/basic-profile-image.png}"
                                                 style="transform: scale(1.5); width: 100%; position: absolute; left: 0"/>
                                        </div>
                                        <div th:unless="${user.profileImagePath == null}">
                                            <img th:src="'https://instakg-team.s3.ap-northeast-2.amazonaws.com/'+${user.profileImagePath}" alt="프로필 이미지"
                                                 style="transform: scale(1.5); width: 100%; position: absolute; left: 0">
                                        </div>
                                    </div>
                                    <div class="d-flex flex-column">
                                        <span class="ms-3 fs-5" th:text="${user.username}">사용자1(유저네임)</span>

                                        <form class="ms-1"id="photoSubmit" enctype="multipart/form-data">
                                            <div class="filebox">
                                                <label for="ex_file" class="text-primary fw-bold">프로필 사진 변경하기</label>
                                                <input type="file" id="ex_file" name="profileImageUrl" onchange="javascript:ImgProfile()">
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <!-- 개인정보 수정 시작 -->
                                <form th:action="@{setprofile}" method="post">
                                    <div class="mt-3 line_set">
                                        <strong>이름</strong>
                                        <div class="">
                                            <input class="txtbox form-control" type="text" name="MDname"
                                                   style="width:418.5px"
                                                   th:value="${user.name}"
                                                   placeholder="변경할 이름을 입력해주세요">
                                        </div>
                                    </div>
                                    <div class="mt-3 line_Text">
                                    <span class="txtsize">사람들이 이름, 별명 또는 비즈니스 이름 등 회원님의 알려진 이름을 사용하여
                                        회원님의 계정을 찾을수 있도록 도와주세요.</span>
                                    </div>
                                    <div class="mt-3 line_set">
                                        <strong>사용자 이름</strong>
                                        <div>
                                            <input class="txtbox form-control" type="text" name="MDusername"
                                                   th:value="${user.username}"
                                                   style="width:418.5px"
                                                   placeholder="변경할 사용자 이름을 입력해주세요.">
                                        </div>
                                    </div>
                                    <div class="mt-3 line_set">
                                        <strong>소개</strong>
                                        <div class="">
                                    <textarea class="txtbox form-control" rows="2" type="text" name="MDbio"
                                              th:text="${user.bio}"
                                              style="width:418.5px"
                                              placeholder="소개란을 입력해주세요."></textarea>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="mt-4 mb-1 me-1 line_title">
                                            <strong class="text-muted">개인정보</strong>
                                        </div>
                                        <div class="line_Text">
                                    <span class="txtsize">비즈니스나 반려동물 등에 사용된 계정인 경우에도 회원님의
                                        개인 정보를 입력하세요. 공개프로필에 포함되지 않습니다.</span>
                                        </div>
                                    </div>
                                    <div class="mt-3 line_set">
                                        <strong>이메일</strong>
                                        <div>
                                            <input class="txtbox form-control" th:value="${user.email}"  style="width:418.5px" readonly/>
                                        </div>
                                    </div>
                                    <div class="mt-3 line_set">
                                        <strong>전화번호</strong>
                                        <div class="">
                                            <input class="txtbox form-control" type="tel" name="MDphone" maxlength="11"
                                                   th:value="${user.phone}"
                                                   style="width:418.5px"
                                                   onKeyup="this.value=this.value.replace(/[^-0-9]/g,'');"
                                                   placeholder="(-)를 제외한 전화번호를 입력해주세요."/>
                                        </div>
                                    </div>
                                    <div class="mt-3 line_set">
                                        <strong>성별</strong>
                                        <div>
                                            <select class="txtbox form-control text-muted"  style="width:418.5px" name="MDgender">
                                                <option th:if="${user.gender == null}" value="">선택하세요.</option>
                                                <option th:if="${user.gender != null}" th:value="${user.gender}">
                                                    [[${user.gender}]]
                                                </option>
                                                <option value="남성">남성</option>
                                                <option value="여성">여성</option>
                                                <option value="밝히고 싶지 않음">밝히고 싶지 않음</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="radius my-5 d-flex justify-content-center ">
                                        <button id="p_button" class="btn btn-info fw-bold">제출</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- JavaScript Bundle with Popper -->
<script layout:fragment="script" type='text/javascript'>
    function ImgProfile(){
        photoSubmit.action = "/question/setprofileImg";
        photoSubmit.method = "post";
        photoSubmit.submit();
    }

</script>
</html>